@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>I'm a website! ^_^</p>

<h3><u>IN DEVELOPMENT!</u></h3>

<h1> Welcome to my website!</h1>
<h2> About Me</h2>

<p>
    I am a talented senior pursuing a B.S., and eventually
    my M.S., searching for a summer internship in the
    CS&IT field where I can both leverage my current
    technical skills and build new ones. I want to use my
    internship experience to help further my academic
    journey and help me develop my career.
    <br/>
    Place holder
</p>

<h3>Extra Curriculars</h3>
<ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
</ul>

<h3>Other</h3>
<ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
</ul>

<h3>Even more</h3>
<ul>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
    <li>Placeholder</li>
</ul>
