@implements IDisposable

<span>@now.ToString()</span>

@code {
    private DateTime now = DateTime.Now;
    private System.Threading.Timer? timer;

    protected override void OnInitialized()
    {
        // Update every second
        timer = new System.Threading.Timer(_ =>
        {
            now = DateTime.Now;
            InvokeAsync(StateHasChanged);
        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}