################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/resume_site.slnx
/MyBlazorApp
/resume_site.slnx
/resume_site.slnx
