@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p>I'm a website ^_^</p>
    <p>It is currently @DateTime.Now</p>
</div>
